@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

#recipe-title {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(194, 141, 81),
    0 0 0.2em rgb(134, 92, 44);
}

#image-preview {
  height: 650px;
  width: 650px;
  margin: 20px 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#details-container {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
}

#recipe-information-container {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  height: fit-content;
  width: 500px;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

#ingredients-container {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  height: fit-content;
  width: 500px;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin: 20px 20px;
  line-height: 1.5;
}

#allergens-container {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  height: fit-content;
  width: 500px;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin: 20px 20px;
  line-height: 1.5;
}

#nutritionFacts-container {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  height: fit-content;
  width: 500px;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin: 20px 20px;
  line-height: 1.5;
}

/* .background-recipe-cards {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 238, 238, 1) 100%
  );
} */
