/* #main-container {
  position: fixed;
  height: 150px;
  background-color: grey;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#logo-image {
  margin: 1%;
  height: 100px;
  width: 100px;
} */

.header {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  overflow: hidden;
  background: rgb(162, 155, 141);
  background: linear-gradient(
    90deg,
    rgba(162, 155, 141, 1) 0%,
    rgba(252, 240, 227, 1) 100%
  );
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#logo-image {
  height: 75px;
  width: 75px;
  margin: 25px 25px;
}
